@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Castoro+Titling&family=Poltawski+Nowy&family=Roboto&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}

.App{
  width: 100vh;
  height: 100vh;
}