.body{
    background: linear-gradient(to bottom, #04263A, #2B9B7B);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

button {
    background-color: #2B9B7B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}